/* IMPORTED FONTS */

@font-face {
    font-family: "Duedate";
    src: url("../fonts/DueDate.ttf") format("truetype");
}

/* THROUGH PROJECT CSS IMPLEMENTATION */

body {
    font-family: sans-serif;
    background: rgb(37, 39, 43);
    box-shadow: inset 0 0 100px;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    background: rgb(37, 39, 43);
    box-shadow: 0 0 100px black, inset 0 0 100px rgb(158, 146, 129);
    z-index: 2;
}

#statusImage, #gameOver {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40vh auto;
}

#gameOver {
    font-family: Duedate;
    color: rgb(158, 146, 129);
    font-size: 50px;
    background: darkred;
    padding: 10px;
    box-shadow: 0 0 8px 4px black;
}

#statusImage.hidden, #gameOver.hidden {
    display: none;
}

#statusImage img{
    background: rgba(255,255,255,0.8);
}


.shipGridCell, .salvoGridCell {
    background-image: url("../images/sea_map.jpg");
    background-size: cover;
}

.headerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgb(158, 146, 129);
}

.pipe {
    background: url("../images/pipe6.png");
    height: 60px;
    width: 100%;
    position: fixed;
    top: 110px;
    z-index: 3;
}

.pipe2 {
    background: url("../images/pipe7.png");
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 80px;
    z-index: 3;
}

nav button {
    height: 40px;
    border-radius: 5px;
    border: solid whitesmoke 1px;
    margin: 10px;
    width: 180px;
    padding: 5px;
    outline: none;
}

header button {
    margin-right: 50px;
    height: 40px;
    border-radius: 5px;
    border: solid black 1px;
    width: 100px;
    padding: 5px;
    box-shadow: inset 0 0 10px black;
    font-size: 16px;
    outline: none;
}

#registerPrompt {
    background: rgb(158, 146, 129);
}

footer {
    line-height: 100px;
    background: rgb(37, 39, 43);
    color: rgb(158, 146, 129);
    text-align: center;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 100px black, inset 0 0 100px rgb(158, 146, 129);
    z-index: 2;
}

h1 {
    padding: 10px;
    font-size: 60px;
    font-family: "Duedate", sans-serif;
    color: rgb(158, 146, 129);
    align-self: flex-start;
}

h2 {
    font-size: 16px;
    background: cadetblue;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: whitesmoke;
    box-shadow: inset 0 0 10px black;
}

.hidden {
    display: none;
}

.active {
    background: orange;
    box-shadow: 0 0 10px black;
    outline: none;
}

.orangeBtn {
    background: orange;
}

.blueBtn {
    background: rgb(6, 71, 89);
    color: whitesmoke;
}

.redBtn {
    background: darkred;
    color: whitesmoke;
}

.whiteBtn {
    background: whitesmoke;
}

#userInfo {
    padding-top: 180px;
}

#games {
    padding: 180px 100px 200px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* GAME VIEW CSS */

#gameView {
    padding: 180px 0 200px 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

#shipGridBtn, #salvoGridBtn {
    border: none;
    border-radius: 5px 5px 0 0;
    padding: 3px 5px 2px 5px;
    margin-right: 2px;
}

#statusBoard {
    margin-top: 10px;
    padding: 10px;
}

#board {
    margin: 10px;
}

.gameSettings {
    margin: 30px 10px 10px 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

#opponentInfo, #placedShips, #gameControls, #statusBoard {
    border: solid black 1px;
    border-radius: 10px;
    background: rgb(158, 146, 129);
    box-shadow: inset 0 0 10px black;
}

#opponentInfo, #statusBoard {
    height: 60px;
}

#opponentInfo p {
    margin: 5px;
}

.placedShips {
    min-height: 60px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border: solid black 1px;
    border-radius: 10px;
    background: rgb(158, 146, 129);
    box-shadow: inset 0 0 10px black;
}

.placedShips table {
    text-align: center;
    width: 100%;
}

.placedShips td, .placedShips th {
    font-size: 12px;
    vertical-align: middle;
    border: solid rgb(89, 58, 32) 1px;
    padding: 7px 5px 7px 5px;
    box-shadow: inset 0 0 5px black;
}

.placedShips  th {
    font-weight: bold;
}

.placedShips img {
    height: 20px;
}


#gameControls {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

#gameControls select, #gameControls input, #orientation {
    margin: 10px;
}

#orientation {
    display: flex;
    flex-direction: column;
}

#toGames, #fireSalvos, #placeShip, #newGame, .joinBtnFrame button {
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border: solid black 1px;
    box-shadow: inset 0 0 10px black;
}

.joinBtnFrame button {
    width: 100px;
    height: 30px;
    border: none;
}

#newGame {
    border-radius: 5px;
    border: none;
}

#toGames {
    background: orange;
    border: solid black 1px;
    box-shadow: inset 0 0 10px black;
    font-weight: bold;
    font-size: 14px;
}

#fireSalvos:disabled, #placeShip:disabled {
    opacity: 0.2;
}

/* GAME GRIDS CSS */

#shipGrid td, #salvoGrid td, #shipGrid th, #salvoGrid th {
    border: solid black 1px;
    height: 45px;
    width: 45px;
    vertical-align: middle;
    box-shadow: inset 0 0 5px black;
}

#shipGrid th, #salvoGrid th {
    background: rgb(89, 58, 32);
    box-shadow: inset 0 0 10px black;
}

.preSelected {
    background: dimgray;
}

.wrongSelected {
    background: rgb(239, 119, 127);
}

.shipIcon {
    background: url("../images/battleship.png");
    background-size: cover;
}

.ship {
    background: black;
}

.shipStartV {
    background: url("../images/ship4.jpg");
    background-size: cover;
}

.shipEndV {
    background: url("../images/ship6.jpg");
    background-size: cover;
}

.shipCenterV {
    background: url("../images/ship5.jpg");
    background-size: cover;
}

.shipStartH {
    background: url("../images/ship1.jpg");
    background-size: cover;
}

.shipEndH {
    background: url("../images/ship3.jpg");
    background-size: cover;
}

.shipCenterH {
    background: url("../images/ship2.jpg");
    background-size: cover;
}

.hiddenSalvo {
    color: transparent;
}

.salvo {
    background: url("../images/salvo4.png");
    background-size: cover;
    color: black;
    text-align: right;
    vertical-align: top;
    font-size: 18px;
}

.hit {
    background: url("../images/hit.png");
    background-size: cover;
    color: black;
    text-align: right;
    vertical-align: top;
    font-size: 18px;
}

/* HOME PAGE CSS */

#login, #register {
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

#loginForm, #registerForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    background: whitesmoke;
    border-radius: 20px;
    border: solid cadetblue 2px;
    padding: 40px;
    margin-top: 200px;
    z-index: 4;
}

/* GAME PANEL CSS */

.user {
    padding: 20px 30px 10px 30px;
    width: 260px;
}

.user img, nav img {
    height: 60px;
}

.date {
    font-size: 12px;
}

.gameBlock {
    text-align: center;
    border: solid black 1px;
    margin: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: rgb(158, 146, 129);
    font-size: 14px;
    text-decoration: none;
    color: black;
    box-shadow: inset 0 0 10px black;
}

.gameParticipants {
    display: flex;
    justify-content: space-between;
}

/* MANAGER SCREEN CSS */

#manager {
    display: flex;
    margin-right: 350px;
}

#manager nav {
    text-align: center;
    background: rgb(46, 94, 104);
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 1;
    box-shadow: inset 0 0 40px black;
}

#leaderBoard {
    text-align: center;
    background: rgb(158, 146, 129);
    color: auto;
    width: 100%;
}

#leaderBoard td {
    vertical-align: middle;
    font-size: 14px;
    border: solid rgb(89, 58, 32) 1px;
    padding: 10px 5px 10px 5px;
    box-shadow: inset 0 0 5px black;
}

.joinBtnFrame {
    height: 40px;
}

