body {
    font-family: sans-serif;
}

td {
    border: solid black 1px;
    height: 25px;
    width: 25px;
}

th {
    border: solid black 1px;
    height: 20px;
    width: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

.ship {
    background-color: black;
}

.hiddenSalvo {
    color: transparent;
}

.salvo {
    background-image: url("../images/salvo.jpg");
    background-size: cover;
    color: black;
    text-align: right;
    vertical-align: top;
    font-size: 18px;
}

#gamesList table {
    border: solid black 1px;
    text-align: center;
}

#gamesList th {
    padding: 5px;
}

#leaderBoard {
    text-align: center;
    color: whitesmoke;
    width: 100%;
}

#leaderBoard td {
    vertical-align: middle;
    font-size: 12px;
}

/* GENERAL GAME CSS */

header {
    height: 100px;
    background: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button, nav button {
    height: 40px;
    border-radius: 5px;
    border: solid whitesmoke 1px;
    margin: 10px;
    width: 180px;
    padding: 5px;
}

#loginPrompt {
    background: green;
}

.orangeBtn {
    background: orange;
}

h1 {
    padding: 10px;
    font-size: 50px;
    font-family: fantasy;
    color: whitesmoke;
    align-self: flex-start;
}

footer {
    line-height: 100px;
    background: cadetblue;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
}

#login, #register {
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    background: whitesmoke;
    border-radius: 20px;
    border: solid cadetblue 2px;
    padding: 40px;
    margin-top: 150px;
}


/* GAME PANEL CSS */

h2 {
    font-size: 16px;
    background: cadetblue;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: whitesmoke;
}

.user {
    padding: 30px;
    width: 260px;
}

.user img, nav img {
    height: 60px;
}

.date {
    font-size: 12px;
}

#games {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.gameBlock {
    text-align: center;
    border: solid black 1px;
    margin: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: rgb(224, 248, 249);
    font-size: 14px;
}

.gameParticipants {
    display: flex;
    justify-content: space-between;
}

/* MANAGER PAGE CSS */

#manager {
    display: flex;
}

#manager nav {
    text-align: center;
    background: rgb(46, 94, 104);
    max-width: 500px;
    min-width: 300px;
}